.notification-popup {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    /* Background colors are dynamically set */
    color: white;
    font-size: 0.65rem;
    font-weight: bold;
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: pop-up 0.3s ease-out forwards;
  }
  
  .icon-container {
    position: relative;
  }
  
  @keyframes pop-up {
    0% {
      transform: translateX(-50%) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%) scale(1);
      opacity: 1;
    }
  }
  